<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="my-card">
    <div class="content">
      <div class="title">Title</div>
      <div class="description">Description</div>
      <div class="separator"></div>
      <div class="info-row">
        <div class="date">
          <ion-icon name="calendar"></ion-icon>
          Date
        </div>
        <div class="time">
          <ion-icon name="time"></ion-icon>
          Time
        </div>
      </div>
      <div class="action-row">
        <button class="remarcar-button">Remarcar</button>
        <button class="cancelar-button">Cancelar</button>
      </div>
    </div>
  </ion-card>
</ion-content>
