<!--<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content padding [fullscreen]="true">

  <div class="loading-container" *ngIf="loading">
    <!-- Use Ionic Grid for responsive layout -->
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <!-- Centered horizontally -->
        <ion-col size="auto" class="center-content">
          <!-- Image with 1/3 of the screen width and height -->
          <div class="center-image">
            <img src="../../assets/images/logo-no-background.png" alt="Logo">
          </div>
          <!-- Ion Spinner centered horizontally -->
          <div class="center-spinner">
            <ion-spinner></ion-spinner>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



  <div *ngIf="!loading" class="form-content">
    <h1 class="form-title">My-Hospital</h1>
    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
      <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email')!.hasError(validation.type) && (validations_form.get('email')!.dirty || validations_form.get('email')!.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password')!.hasError(validation.type) && (validations_form.get('password')!.dirty || validations_form.get('password')!.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label color="primary">Manter-se registado</ion-label>
        <ion-checkbox formControlName="rememberMe"></ion-checkbox>
      </ion-item>
      <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Log
        In</ion-button>
    </form>
    <p class="go-to-register">
      Ainda não tem conta? <a (click)="goRegisterPage()">Criar conta.</a>
    </p>
    <p class="go-to-register">
      <a (click)="goChangePassword()">Esqueci-me da password</a>
    </p>
  </div>
</ion-content>