.toggle-container {
    padding: 10px;
  }
  
  .toggle-title {
    margin: 15px 0;
  }
  
  .divider {
    margin: 10px 0;
    border-top: 2px solid #000;
  }
  
  .toggle-divider {
    margin: 20px 0;
    border-top: 3px solid #000;
  }

  ion-back-button {
    --color: #044622 !important;
  }