<!--<ion-header [translucent]="true">
  <ion-nav>
    <ion-title>Tasks</ion-title>
    <ion-buttons end>
      <button (click)="addTask()">+ADD ITEM</button>
    </ion-buttons>
  </ion-nav>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let task of tasks">
      <ion-item [ngClass]="{taskDone: task.status == 'done'}">
        {{task.title}}
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="removeTask(slidingItem,task)">
        <ion-button (click)="markAsDone(slidingItem, task)" color="secondary">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button (click)="removeTask(slidingItem, task)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="medium">
  <ion-buttons>
    <ion-title>Log out</ion-title>
    <ion-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>-->